.products {
  display: flex;
  justify-content: center;
}

.card {
  width: 260px;
  background: linear-gradient(180deg, #122c3b, #0f2027);
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 20px 40px rgba(0,0,0,0.4);
}

.card img {
  width: 100%;
  background: white;
  padding: 15px;
}

.card-body {
  padding: 20px;
  position: relative;
}

.stars {
  color: gold;
  margin: 8px 0;
}

.price {
  display: flex;
  gap: 10px;
  align-items: center;
}

.old {
  text-decoration: line-through;
  opacity: 0.6;
}

.new {
  color: #00bfff;
  font-size: 18px;
  font-weight: bold;
}

.cart-btn {
  position: absolute;
  right: 20px;
  bottom: 20px;

  background: #00bfff;
  border: none;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
}
.products {
  display: flex;
  justify-content: center;
  padding-top: 80px;
}
