.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 240px;
  height: 100vh;

  background: linear-gradient(180deg, #0f2027, #122c3b);
  padding: 20px;

  display: flex;
  flex-direction: column;
  gap: 30px;

  z-index: 100;
}

.logo-container {
  font-size: 26px;
  text-align: center;
}

.sidebar h3 {
  margin-bottom: 10px;
  font-size: 14px;
  letter-spacing: 1px;
  opacity: 0.8;
}

.sidebar button {
  background: #122c3b;
  border: none;
  color: white;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.sidebar button:hover {
  background: #1b3d4f;
}
